<div class="container">
  <div class="container" fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.md="row"
    fxLayoutAlign="center stretch" fxLayoutGap="0.5%">
    <div fxFlex="90%">

      <mat-card class="letrero">
        <mat-card-title>
          <mat-icon class="icono">account_circle</mat-icon>
        </mat-card-title>
        <mat-card-content>
          <p class="card-text mb-0">New Users</p>
          <div class="fluid-container">
            <h3 class="card-title mb-0">65,650</h3>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="90%">

      <mat-card class="letrero">
        <mat-card-title>
          <mat-icon class="icono">assignment_late</mat-icon>
        </mat-card-title>
        <mat-card-content>
          <p class="card-text mb-0">New Feedbacks</p>
          <div class="fluid-container">
            <h3 class="card-title mb-0">32,604</h3>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="90%">

      <mat-card class="letrero">
        <mat-card-title>
          <mat-icon class="icono">accessibility</mat-icon>
        </mat-card-title>
        <mat-card-content>
          <p class="card-text mb-0">Employees</p>
          <div class="fluid-container">
            <h3 class="card-title mb-0">17,583</h3>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="90%">
      <mat-card class="letrero">
        <mat-card-title>
          <mat-icon class="icono">shopping_cart</mat-icon>
        </mat-card-title>
        <mat-card-content>
          <p class="card-text mb-0">Total Sales</p>
          <div class="fluid-container">
            <h3 class="card-title mb-0">61,119</h3>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
